main
  section#about
    .card.col-lg-9.container.bg-transparent.border-0.text-center
      .card-body
        h2.card-title.fw-bolder.pt-3.text-lg-start About
        p.card-text.text-break.pt-3
          | Lorem ipsum dolor sit amet, Arcu, sed nisi, mi, arcu libero
          | phasellus
          | tincidunt. Rhoncus, diam penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus
          | consectetur et sed purus sed. Consectetur adipiscing elit. Egestas porttitor nulla nulla egestas
          | odio
          | pharetra egestas aliquet mollis.
        p.card-text.text-break.pt-2.pb-3
          | Arcu, sed nisi, mi, arcu libero phasellus tincidunt.
          | Rhoncus, diam
          | penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus
          | sed.
          | Consectetur adipiscing elit. Egestas porttitor nulla nulla egestas odio pharetra egestas aliquet
          | mollis.
          | diam penatibus aliquet tellus, in rutrum augue. Pellentesque.
  section#skils
    .card.mb-3.border-0.Skils.rounded-0
      .container.d-flex.flex-column.col-lg-9
        h2.card-title.fw-bolder.pt-4.pb-4.text-center.text-lg-start.ps-lg-3 Skils
      .d-lg-flex.justify-content-lg-between.pb-lg-5.mb-lg-4.mx-lg-5
        .container.d-flex.flex-column.justify-content-lg-start
          img.profile_img.container-fluid.p-lg-0.m-lg-n4.pb-2.w-75(src='../images/Profile Picture.png', alt='My Photo')
        .card-body.container.d-flex.flex-column.ps-3.pe-3
          .container.p-0
            dl.d-block.d-flex.justify-content-between.p-0.m-0
              dt.col-4.titles.fw-bolder.pe-4 Profile
              dd.col-8
                p.titles.ps-0 UI / UX Engineer, Front-end Developer
          .container.d-flex.flex-column-reverse.flex-lg-column.p-0
            .container.p-0
              .container.p-0.pt-2
                dl.d-block.d-flex.justify-content-between.p-0.m-0
                  dt.col-4.titles.fw-bolder.pe-4 UX Research
                  dd.col-8.pe-lg-5(style='height: 25px;')
                    .progress.d-flex.align-self-center.rounded-0
                      .progress-bar(role='progressbar', aria-label='Basic example', style='width: 85%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
              .container.p-0
                dl.d-block.container.d-flex.justify-content-between.p-0.m-0
                  dt.col-4.titles.fw-bolder.pe-4 Tools
                  dd.col-8
                    p.titles.ps-0 Paper, Pen, Balsamiq
            .container.p-0
              .container.p-0.pt-2
                dl.d-block.container.d-flex.justify-content-between.p-0.m-0
                  dt.col-4.titles.fw-bolder.pe-4 UI Design
                  dd.col-8.pe-lg-5(style='height: 25px;')
                    .progress.d-flex.align-self-center.rounded-0
                      .progress-bar(role='progressbar', aria-label='Basic example', style='width: 78%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
              .container.p-0
                dl.d-block.container.d-flex.justify-content-between.align-baseline.p-0.m-0
                  dt.col-4.titles.fw-bolder.pe-4 Tools
                  dd.col-8
                    p.titles.ps-0 Adobe PS, AI, XD, Figma, InVision
            .container.p-0
              .container.p-0.pt-2
                dl.d-block.container.d-flex.justify-content-between.align-baseline.p-0.m-0
                  dt.col-4.titles.fw-bolder.pe-4 Front-end Dev
                  dd.col-8.pe-lg-5(style='height: 25px;')
                    .progress.d-flex.align-self-center.rounded-0
                      .progress-bar(role='progressbar', aria-label='Basic example', style='width: 64%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
              .container.p-0
                dl.d-block.container.d-flex.justify-content-between.align-baseline.p-0.m-0
                  dt.col-4.titles.fw-bolder.pe-4 Tools
                  dd.col-8
                    p.titles.ps-0 HTML, CSS, JS, Bootstrap, React
  section#portfolio
    .card.pb-5.border-0.d-lg-flex.justify-content-lg-around
      .card-body.text-center.container-lg.col-lg-9.text-lg-start
        h2.card-title.fw-bolder.pt-4.pb-4.text-center.text-lg-start.ps-lg-3 Portfolio
      .container.d-lg-flex.justify-content-lg-between.col-lg-10
        .container
          p.card-text.text-center.fw-bolder.pt-2.col-lg-9.mx-lg-auto.text-lg-start UX Research
          p.card-text.text-center.col-lg-9.mx-lg-auto.text-lg-start
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac dictum nibh nam odio cursus id. Diam massa semper a tincidunt cursus ultricies lectus eget urna.
        .card-body.d-flex.justify-content-around.align-items-center.border-0.mb-3.flex-lg-shrink-0
          .container.d-flex.w-50.ms-3.flex-column.justify-content-center.m-0.p-0.flex-lg-shrink-0
            img.rectangle.img-fluid.mb-3.p-0.flex-lg-shrink-0(src='../images/Rectangle.png', alt='...')
            img.river.img-fluid.border-0.rounded-0.p-0.flex-lg-shrink-0(src='../images/River.png', alt='...')
          .container.d-flex.w-50.flex-column.align-items-center.justify-content-around.m-0.p-0.flex-lg-shrink-0
            img.dom-luis.mb-3.img-fluid.p-0.flex-lg-shrink-0(src='../images/dom-luis-bridge.png', alt='...')
            img.city.img-fluid.p-0.flex-lg-shrink-0(src='../images/City.png', alt='...')
