footer
  #contact.card-body.text-center
    .container.col-lg-9.text-lg-start
      h5.card-title.fw-bolder.pt-5.mb-5 Get in Touch
    .container.d-lg-flex
      .container-lg.col-lg-8.m-lg-0.ps-lg-3
        .row.text-center
          .col-6.col-lg-4.p-2
            a.nav-link(href='#') Dribbble
          .col-6.col-lg-4.p-2
            a.nav-link(href='#') LinkedIn
        .row.text-center
          .col-6.col-lg-4.p-2
            a.nav-link(href='#') Behance
          .col-6.col-lg-4.p-2
            a.nav-link(href='#') Facebook
        .row.text-center
          .col-6.col-lg-4.p-2
            a.nav-link(href='#') CodePen
          .col-6.col-lg-4.p-2
            a.nav-link(href='#') Instagram
        .row.text-center
          .col-6.col-lg-4.p-2
            a.nav-link(href='#') GitHub
          .col-6.col-lg-4.p-2
            a.nav-link(href='#') Twitter
        .row.text-center
          .col-6.col-lg-4.p-2
            a.nav-link(href='#') Medium
          .col-6.col-lg-4.p-2
      .row.d-flex.flex-column.col-lg-7
        .col-8.col-lg-4.text-center.p-2.mt-4.mt-lg-0
          email seyrig@mailme.com
        .col-8.col-lg-4.text-center.p-2
          a.nav-link(href='tel:+ 55 6645 665544') + 55 6645 665544
