header.container-fluid.pt-3
  .row
    .col-12
      nav.navbar.navbar-dark.bg-transparent.d-flex.pt-lg-5.flex-lg-row-reverse
        .container.navbar-expand-lg.d-flex
          button.navbar-toggler.border-light.border-4(type='button', data-bs-toggle='collapse', data-bs-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          a.navbar-brand.logo.fw-bold(href='#') Portofolio
          #navbarToggleExternalContent.collapse.navbar-collapse.justify-content-lg-end
            .bg-transparent.pt-4.pt-lg-0.d-flex.flex-column.flex-lg-row.justify-content-around
              a.link-light.pb-1.pe-lg-5(href='#about')
                h5.text-white.fs-6.fw-bold About
              a.link-light.pb-1.pe-lg-5(href='#skils')
                h5.text-white.fs-6.fw-bold Skils
              a.link-light.pb-1.pe-lg-5(href='#portfolio')
                h5.text-white.fs-6.fw-bold Portfolio
              a.link-light(href='#contact')
                h5.text-white.fs-6.fw-bold Contact
  .card.container.col-lg-10.text-center.bg-transparent.text-light.mt-lg-5.pt-lg-5.border-0
    .bg-transparent.card-body.text-center.text-lg-start.ps-lg-3
      h2#h2.card-title.d-block.pt-3.ps-lg-3.display-lg-3.fw-bold Hi, It&rsquo;s Th&eacute;ophile Seyrig
      p#p.card-text.d-block.fs-6.pt-2.text-center.text-lg-start.ps-lg-3.fw-bold Designer from Porto, Portugal
      a#a.card-link.d-block.text-light.pt-4.ps-lg-3.pb-5.fw-bold(href='#portfolio') Latest works
